:root{
    --text-color: white;
    --background-color: black;
    --gradient-color-1: #3700ff;
    --gradient-color-2: fuchsia;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    height: 100%;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
@property --move {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

button{
    width: 9rem;
    height: 3rem;
    position: relative;

    color: var(--text-color);
    font: bold 18px 'Arial Rounded MT Bold';
    background: var(--background-color);
    border-radius: 4rem;
    border: none;

    &::before,&::after{
        content: '';

        width: 0;
        height: 0;
        border-radius: 4rem;
        padding: 0.3rem;
        position: absolute;
        z-index: -1;

        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        background-image: conic-gradient(from var(--move), var(--gradient-color-1) 25%,var(--gradient-color-2) 75%, var(--gradient-color-1) 100%);
        animation: 3s spinner-border linear infinite;

        transition: .3s width, .3s height;
    }


    &:hover{
        &::before,&::after{
            width: 100%;
            height: 100%;

            transition: 1s width, 1s height;
        }

        &::after{
            filter: blur(30px);
            opacity: .8;
        }
    }

    &:active{
       &::before,&::after{
           padding: 0;
       }
    }
}

@keyframes spinner-border {
    0%{
        --move: 0deg;
    }
   100%{
       --move: 360deg;
   }
}